.product-price-container {
    display: flex;
}

.product-description-container span {
    font-size: 18px;
    color: #9e9e9e;
    margin-top: 4px;
}

.product-description-container p {
    font-size: 14px;
    font-style: italic;
    align-items: center;
    display: flex;
    color: #585858;
    margin-left: 10px;
}